<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <connectionStrings>
    <!--<add name="webfw" connectionString="Data Source=STONE;Initial Catalog=stonefw;Persist Security Info=True;User ID=sa;Password=sa" providerName="System.Data.SqlClient" />-->
    <add name="webfw" connectionString="Data Source=STONEWORKPC;Initial Catalog=stonefw;Integrated Security=False;User ID=sa;Password=sa;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>

